[Unit]
Description=Firewall
Requires=network-online.target
After=network-online.target
 
[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/security/start.sh start
ExecStop=/etc/init.d/security/stoplib-systemd-system/.sh stop
 
[Install]
WantedBy=multi-user.target